@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<style>
    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        background-color: #f5f5f5;
    }
</style>
