<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DentistryWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dentistry">Dentistry</NavLink>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Task List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">My Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Manage clinic</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
