@using DentistryWeb.Models
@using DentistryWeb.Services
@inject PatientServices PatientService

@if (IsVisible)
{
    <div class="modal show d-block" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm bệnh nhân</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@newPatient" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label>Họ và tên</label>
                                <InputText class="form-control" @bind-Value="newPatient.Name" />
                                <ValidationMessage For="@(() => newPatient.Name)" />
                            </div>
                            <div class="col-md-4">
                                <label>SĐT</label>
                                <InputText class="form-control" @bind-Value="newPatient.Phone" />
                                <ValidationMessage For="@(() => newPatient.Phone)" />
                            </div>
                            <div class="col-md-4">
                                <label>Giới tính</label>
                                <InputSelect class="form-select" @bind-Value="newPatient.Gender">
                                    <option value="">-- Chọn --</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => newPatient.Gender)" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Ngày sinh</label>
                                <InputDate class="form-control" @bind-Value="newPatient.DateOfBirth" />
                            </div>
                            <div class="col-md-6">
                                <label>Nghề nghiệp</label>
                                <InputText class="form-control" @bind-Value="newPatient.Career" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Địa chỉ</label>
                            <InputTextArea class="form-control" @bind-Value="newPatient.Address" />
                        </div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-success">Lưu</button>
                            <button type="button" class="btn btn-secondary" @onclick="Close">Hủy</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback OnSaved { get; set; }

    private Patient newPatient = new();

    private void Close() => IsVisibleChanged.InvokeAsync(false);

    private async Task HandleValidSubmit()
    {
        PatientService.Add(newPatient);
        newPatient = new();
        await OnSaved.InvokeAsync();
        await IsVisibleChanged.InvokeAsync(false);
    }
}
